<%- include('../partials/head') -%>

<%- include('../partials/whitenavbar') -%>

<section class="admin-page">
    <h3 id="welcome">Welcome to your dashboard!</h3>
    <div class="admin-content-layout">
        
        <div class="admin-main-container-1">
            <div class="admin-profile-tag">
                <h3>Admin</h3>
            </div>
            <img src="/Images/pexels-cottonbro-4114710.jpg" alt="User profile photo">
            <div class="admin-profile-user-name">
                <h2>
                    <%= signedIn ? name : 'User' %>
                </h2><img src="/Images/verified_icon.png" alt="Verified icon">
            </div>
            <hr>
            <div class="bio-details">
                <p><span class="bold-type">User since: </span>May 2021</p>
                <p><span class="bold-type">Number of ratings: </span>91</p>
                <p><span class="bold-type">Location: </span> Boston, MA</p>
            </div>
        </div>
        <div class="reviews-container">
            <div id="admin-review-heading-styling">
                <h3>User Reviews</h3><br>
            </div>
            <div class="admin-main-container-2">
                
                <div class="admin-headers">
                    
                    <h3 id="approval-header">Awaiting Approval</h3>
                    <hr>
                    <div class="restroom-cards">
                        <% for (restroom of restroomArray) { %>
                            <a href="/admin/<%= restroom._id %>" class="card">
                                <div>
                                    <div id="reviewer-name-email">
                                        <h5 id="reviewer-name">
                                            User: <%= restroom.username %>
                                        </h5>
                                        <p class="email">
                                            <%= restroom.email %>
                                        </p>
                                    </div>
                                    <p class="rating">
                                        Rating: <%= restroom.rating %> out of 5
                                    </p>
                                    <p class="restroom-attributes">
                                        <%= restroom.restroomAttributes %>
                                    </p>
                                    <p class="headline">
                                        <%= restroom.headline %>
                                    </p><br>
                                    <p class="written-review">
                                        <%= restroom.commentText %>
                                    </p><br>
                                    <img src="<%= restroom.img %>" alt="">
                                </div>
                                <div class="admin-review-btns">
                                    <form action="/admin/<%= restroom._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
                                        <button type="submit">Approve</button>
                                    </form>
                                    <form action="/admin/<%= restroom._id %>?_method=DELETE" method="POST" enctype="application/x-www-form-urlencoded">
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            </a>
                    </div>
                    <% } %>
                </div>
                <!-- <div <div class="admin-headers">
                    <h3>All Reviews</h3>
                </div>
                
                <hr> -->
            </div>
        </div>
    </div>

</section

<%- include('../partials/footer') -%>




    

</section>