<%- include('../partials/head') -%>

<%- include('../partials/whitenavbar-map') -%>
    <main>
        <div class="hl-1"></div>
        <div id="search-options">
            <input id="secondary-search-input" type="text" placeholder="Enter an address, neighborhood, city, or ZIP code" name="search">  
            <div class="vl"></div>
            <div class="filters-btns">
                <button class="filter-btn" onclick="filterSelection('all-gender')">All Gender</button>
                <button class="filter-btn" type="submit">Single Stall</button>
                <button class="filter-btn" type="submit">Wheelchair Accessible</button> 
                <button class="filter-btn" type="submit">Open to non-customers</button>
                <button class="filter-btn" type="submit">Toilet</button>
                <button class="filter-btn" type="submit">Urinal</button>
                <div class="dropdown">
                    <button onclick="viewDropdown()" class="dropbtn">See more filters</button>
                    <div id="myDropdown" class="dropdown-content">
                        <div>
                            <input type="checkbox" value="Multiple stalls"><label> Multiple stalls</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Women's Room"><label> Women's Room</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Men's Room"><label> Men's Room</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Changing table"><label> Changing table</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Menstrual products"><label> Menstrual products</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Automatic door opener"><label> Automatic door opener</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Restroom attendant"><label> Restroom attendant</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Floor-to-ceiling stall walls"><label> Floor-to-ceiling stall walls</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Family restroom"><label> Family restroom</label>
                        </div>
                        <div>
                            <input type="checkbox" value="No access key required"><label> No access key required</label>
                        </div>
                        <div>
                            <input type="checkbox" value="Accessible bag hooks in stalls"><label> Accessible bag hooks in stalls</label>
                        </div>
                    </div>
                </div>
                <button id="save-search-btn" type="submit">Save search</button>
            </div>
        </div>
        <div class="hl-2"></div>
        <div class="content-boxes">
            <!-- ---map--- -->
            <div id="map" class="map"></div>
            <script type="text/javascript">
                var map = new ol.Map({
                    target: 'map',
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    view: new ol.View({
                        center: ol.proj.fromLonLat([-71.05, 42.36]),
                        zoom: 15
                    })
                });
            </script>
            <!-- ---map--- -->
            <div class="results-container">
            <% for (restroom of restroomsArray) { %>
                <div class="result-card">
                    <div class="img-placeholder"></div>
                    <!--image slideshow-->
                    <div class="card-details">
                        <!-- <h3>
                            <%= restroom.rating %>
                        </h3> -->
                        <h3>
                            <%= restroom.headline %>
                        </h3>
                        <p>
                            <%= restroom.locationName %>
                        </p>
                        <p>
                            <%= restroom.locationAddress %>
                        </p>
                        <p>
                            <%= restroom.restroomAttributes %>
                        </p>
                        <p>
                            <%= restroom.commentText %>
                        </p>
                        <p>0.5mi away</p>
                    </div>
                </div>
            <% } %>
                <div class="result-card">
                    <div class="img-placeholder-2"></div>
                    
                    <div class="card-details">
                        
                        <h3>
                            Super clean and private!
                        </h3>
                        <p>
                            Target Boylston
                        </p>
                        <p>
                            38 Kenmore Drive, Boston, MA
                        </p>
                        <p>
                            All gender, Single stall 
                        </p>
                        <p>
                            Great restroom! Clean and really private single stalls.
                        </p>
                        <p>0.5mi away</p>
                    </div>
                </div>
                <div class="result-card">
                    <div class="img-placeholder-3"></div>
                
                    <div class="card-details">
                
                        <h3>
                            Hit or miss
                        </h3>
                        <p>
                            Cava Boylston
                        </p>
                        <p>
                            102 Smith Street, Boston, MA
                        </p>
                        <p>
                            Women's Room, Men's Room, Toilet, Multiple stalls
                        </p>
                        <p>
                            Not a fan of the gendered restrooms being so visible from the main dining area.
                        </p>
                        <p>0.6mi away</p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    </main>

<%- include('../partials/footer') -%>
    