<%- include('../partials/head') -%>

<%- include('../partials/whitenavbar-map') -%>
    <main>
        <div class="hl-1"></div>
        <div id="search-options">
            <input id="secondary-search-input" type="text" placeholder="Enter an address, neighborhood, city, or ZIP code" name="search">  
            <div class="vl"></div>
            <div class="filters-btns">
                <button class="filter-btn" onclick="filterSelection('all-gender')">All Gender</button>
                <button class="filter-btn" type="submit">Single Stall</button>
                <button class="filter-btn" type="submit">Wheelchair Accessible</button> 
                <button class="filter-btn" type="submit">Changing Table</button>
                <button id="save-search-btn" type="submit">Save Search</button>
            </div>
        </div>
        <div class="hl-2"></div>
        <div class="content-boxes">
            <!-- ---map--- -->
            <div id="map" class="map"></div>
            <script type="text/javascript">
                var map = new ol.Map({
                    target: 'map',
                    layers: [
                        new ol.layer.Tile({
                            source: new ol.source.OSM()
                        })
                    ],
                    view: new ol.View({
                        center: ol.proj.fromLonLat([-71.05, 42.36]),
                        zoom: 15
                    })
                });
            </script>
            <!-- ---map--- -->
            <div class="results-container">
            <% for (restroom of restroomsArray) { %>
                <div class="result-card">
                    <div class="img-placeholder"></div>
                    <!--image slideshow-->
                    <div class="card-details">
                        <!-- <h3>
                            <%= restroom.rating %>
                        </h3> -->
                        <h3>
                            <%= restroom.headline %>
                        </h3>
                        <p>
                            <%= restroom.restroomAttributes %>
                        </p>
                        <p>
                            <%= restroom.commentText %>
                        </p>
                        <p>0.5mi away</p>
                    </div>
                </div>
            <% } %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>

<%- include('../partials/footer') -%>
    